<ion-view view-title="Ward Words">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists"
                ng-href="#/app/scenarioInfo/{{playlist.id}}"
                style="background-image: url({{playlist.image}});
                background-size:cover; height: 300px">

      <i class="icon ion-location"></i> {{playlist.word}}
      <a class="button button-small button-light text-right" ng-href="#/app/scenarioInfo/{{playlist.id}}">
        LEARN
      </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
