/* Empty. Add your own CSS if you like */
.item-complex .item-content, .item-radio .item-content {
    position: absolute;
    z-index: 2;
    padding: 16px 49px 16px 16px;
    border: none;
    background-color: #fff;
    bottom: 0px;
}
